<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard For Admin</title>
    <%-include('partials/head.ejs') %>
</head>
<body>
     <%-include('partials/nav.ejs') %>
     <div class="d-flex justify-content-between mt-3">
        <div><h1 class="">Welcome to Admin Dashboard</h1></div>
        <div><button class="btn-info btn"><a style="color: black;" href="/admin/dashboard/add">AddBlogs</a></button></div>
     </div>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Author</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            </tr>
        </tbody>  
    </table>
</body>
</html>